/*custom property*/
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

/* custom color */
:root {
    --global-color-1: #0000ff;
}

/*styles for the elements*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 5px solid var(--global-color-1);
}

main,
aside,
footer {
    margin: 0;
    padding: 0px 20px;
}

a:focus,
a:hover {
    font-style: italic;
}

h1,
h2 {
    color: var(--global-color-1);
}

/*styles for the header*/
header {
    padding: 2em 0 5em 0;
    border: 3px solid var(--global-color-1);
    background-image: linear-gradient(33deg, red 0%, orange 30%, yellow 50%, orange 80%, red 100%);
}

header img {
    float: left;
    padding: 0 40px;
}

h1 {
    font-size: 200%;
}

.center {
    text-align: center;
    color: var(--global-color-1)
}

header blockquote {
    padding: 15px 0;
}

/*styles fOr the navigation menu*/
#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 196px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

#nav_menu ul li a.current {
    color: orangered;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
}

/*styles for the aside*/
aside {
    margin: 0 20px 10px;
    width: 150px;
    float: left;
    border: 1px solid black;
}

aside ul {
    list-style-type: none;
}

/*styles for the main*/
main {
    clear: right;
    padding-right: 40px;
}

h2 {
    font-size: 150%;
    Padding: 10px 0;
}

main blockquote {
    padding-top: 2em;
}

/* styles for the footer*/
#copyright {
    color: var(--global-color-1);
    font-size: 80%;
    text-align: center;
    clear: both;
}