/*styles for the elements*/
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

/* custom color */
:root {
    --global-color-1: #0000ff;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid var(--global-color-1);
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    grid-template-areas:
        "head"
        "navi"
        "main"
        "foot";
}

a:focus,
a:hover {
    font-style: italic;
}

h1,
h2 {
    color: var(--global-color-1);
}

/*styles for the header*/
header {
    padding: 2em 0em 3em 0;
    border: 3px solid var(--global-color-1);
    background-image: linear-gradient(33deg, red 0%, orange 30%, yellow 50%, orange 80%, red 100%);
    grid-area: head;

}

header img {
    float: left;
    padding: 0 5%;
    
}

h1 {
    font-size: 250%;
    font-family: "Rampart One", sans-serif; 
}

header p {
    padding: 2em;
    text-align: center;
}
.center {
    text-align: center;
    color: var(--global-color-1)
}

header blockquote {
    font-size: 150%;
    font-family: "Mynerve", sans-serif;
    color: green;
    text-align: right;
    padding: 0 2em;
}
 
/*styles fOr the navigation menu*/
#nav_menu {
    grid-area: navi;
}

#nav_menu ul {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    background-color: blue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}

#nav_menu ul ul li {
    display: inline-block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
  
    font-weight: bold;
}

#nav_menu a.current {
    color: orangered;
}


/*section {
    color: var(--global-color-1);
}*/
/*styles for figure and caption*/
figure,
figcaption {
    margin: 0;
    padding: 0;
}

figure {
    border: 1px solid green;
    padding: 2em;
}

figcaption {
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 120%;
    padding-bottom: .25em;
}

table {
    border-collapse: collapse;
    border: 1px solid green;
}

th,
td {
    border: 1px solid green;
    padding: .2em .7em;
    text-align: right;
}

th.left,
td.left {
    text-align: left;
}

i {
    color: orange;
    font-size: 1em;
}

/* styles for the footer*/
footer {
    text-align: center;
}

#copyright {
    color: var(--global-color-1);
    font-size: 80%;
    text-align: center;
    clear: both;
}